.Homepage{
  height: 599px;
}
.Homepage p{
  font-family: "Tilt Neon", sans-serif;
  color: whitesmoke;
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  font-weight: bolder;
  margin-inline: auto;
  padding-top: 126px;
  width:50%;
   text-shadow: 2px 2px 5px rgb(90, 148, 224);
}
.UserButton{
  margin-inline: 400px;
  
}
.UserButton button{
 padding-inline: 29px;
  font-weight: bolder;
  margin-inline: 30px;
  margin-top: 60px;
  width:138px;
}
@media screen and (max-width: 480px) {
  .Homepage p{
    font-size:30px !important ;
  }
  .UserButton{
    margin-left:150px ;
  }
}